*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
height:100vh;
background:linear-gradient(135deg,#ff9966,#ff5e62);
display:flex;
justify-content:center;
align-items:center;
}

.container{

background:white;
width:350px;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 30px black;

}


h1{
margin-bottom:20px;
}


h2{

font-size:40px;
margin:20px;

}


input{

padding:12px;
width:100%;
font-size:18px;

}


button{

width:100%;
padding:12px;
margin-top:15px;
border:none;
background:#ff5e62;
color:white;
border-radius:10px;
cursor:pointer;

}
